<mat-step>
  <ng-template matStepLabel>Auto Informationen</ng-template>
  <button mat-button matStepperPrevious>Nein</button>
  <button mat-button matStepperNext>Ja</button>
  <mat-form-field>
    <mat-label>Auto Modell</mat-label>
    <input  matInput placeholder="Audi A4" formControlName="userCtrl" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nummernschild</mat-label>
    <input  matInput placeholder="AG3948493" formControlName="userCtrl" required>
  </mat-form-field>
  <button mat-button matStepperPrevious>Back</button>
</mat-step>
