<div>
  <mat-stepper [linear]="isLinear" #stepper>
    <app-enter-user-report-driver-stepper></app-enter-user-report-driver-stepper>
    <app-enter-car-data-stepper></app-enter-car-data-stepper>
    <mat-step>
      <ng-template matStepLabel>Abschleppdienst</ng-template>
      <p>Brauchen sie den Abschleppdienst?</p>
        <button mat-button matStepperPrevious>Nein</button>
        <button mat-button matStepperNext>Ja</button>

        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Auto Informationen</ng-template>
        <button mat-button matStepperPrevious>Nein</button>
        <button mat-button matStepperNext>Ja</button>

        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
