<mat-step [stepControl]="secondFormGroup" label="Persönliche Daten">
  <form [formGroup]="secondFormGroup">
    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput placeholder="Vorname" formControlName="secondCtrl" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nachname</mat-label>
      <input matInput placeholder="Nachname" formControlName="secondCtrl" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-Mail Adresse</mat-label>
      <input matInput placeholder="E-Mail" formControlName="secondCtrl" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefonnummer</mat-label>
      <input matInput placeholder="0791231231" formControlName="secondCtrl" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Addresse</mat-label>
      <input matInput formControlName="secondCtrl" placeholder="Hauptstrasse 10" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ort</mat-label>
      <input matInput formControlName="secondCtrl" placeholder="Zürich" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Land</mat-label>
      <input matInput placeholder="Schweiz" formControlName="secondCtrl" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
</mat-step>
